{% extends "layout.html" %}
{% load static %}
{% block title %}Portfolio{% endblock %}
{% block extra_js %}
    <script src="{% static 'tracker/js/portfolios.js' %}" defer></script>
{% endblock %}
{% block content %}
    <div class="flex items-center justify-between m-4">
        <h1 class="text-3xl font-bold">Portfolios</h1>
        <button id="add-portfolio-btn" class="btn btn-primary">Add Portfolio</button>
    </div>
    <div class="overflow-x-auto rounded-box border border-base-content/20 shadow-lg mx-4 mt-2 mb-1">
        <input type="text"
               placeholder="Type here to filter by portfolio name..."
               class="input input-bordered w-full mb-1"
               hx-get=""
               hx-target="#portfolios-container"
               hx-swap="innerHTML"
               hx-trigger="keyup changed delay:500ms"
               hx-vals='{"page": 1}'
               name="search"
               value="{{ request.GET.search|default:'' }}">
        {% include "tracker/partials/portfolios_table.html" with portfolios=portfolios %}
    </div>
    {% include "tracker/partials/add_portfolio_modal.html" with form=add_form %}
{% endblock %}
