<button onclick="toggleTheme()" class="btn btn-ghost btn-circle">
  <svg
    id="theme-icon-dark"
    xmlns="http://www.w3.org/2000/svg"
    class="h-5 w-5 hidden"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 3v1m0 16v1m8.66-9h-1M4.34 12h-1m15.07-6.07-.71.71M6.34 17.66l-.71.71m12.02 0-.71-.71M6.34 6.34l-.71-.71M12 5a7 7 0 1 0 0 14A7 7 0 0 0 12 5z"
    />
  </svg>
  <svg
    id="theme-icon-light"
    xmlns="http://www.w3.org/2000/svg"
    class="h-5 w-5"
    fill="currentColor"
    viewBox="0 0 24 24"
  >
    <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
  </svg>
</button>
